*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
.idea/modules.xml
app/src/main/java/com/example/gaboq/instapoo/filters/IFilter.java
app/src/main/java/com/example/gaboq/instapoo/filters/IFilter.java
app/src/main/java/com/example/gaboq/Cam/CamActivity.java
